
    <div class="container">
        <div class="spider-main">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <div ng-repeat="button in leftButtons">
                    <a href="#" ng-class="button.class" ng-click="newSpider(button)">{{button.name}}</a>
                </div>
                  <a href="#"><img class="img-responsive" src="./spider/Spider2.png" alt="spider" ></a>
                 <div ng-repeat="button in rightButton">
                    <a href="#" ng-class="button.class" ng-click="newSpider(button)">{{button.name}}</a>
                </div>
<!--
                <a href="#" class="spider-btn spider-btn1"  target="_blank" ng-click="newSpider()">btn1</a>
                <a href="#" class="spider-btn spider-btn2"  target="_blank">btn2</a>
                <a href="#" class="spider-btn spider-btn3" target="_blank">btn3</a>
                <a href="#" class="spider-btn spider-btn4" target="_blank">btn4</a>
                <a href="#" target="_blank"><img class="img-responsive" src="../../image/Spider2.png" alt="spider" ></a>
                <a href="#"class="spider-btn spider-btn5 "  target="_blank"> btn5</a>
                <a href="#" class="spider-btn spider-btn6"  target="_blank">btn6</a>
                <a href="#" class="spider-btn spider-btn7" target="_blank">btn7</a>
                <a href="#" class="spider-btn spider-btn8" target="_blank">btn8</a>
-->
            </div>
                <div class="col-md-4"></div>

            </div>
        </div>
