<center>
    <a ui-sref="spider">Parent spider</a> </center>
<div class="container">
    <div class="spider-main">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <div ng-repeat="button in leftButtons">
                <a ng-click="childSpider(button)" ng-class="button.class">{{button.name}}</a>
            </div>
            <img class="img-responsive" src="./app/spider/Spider2.png" alt="spider">
            <p class="spider" style="color:red"><a ui-sref="spider">{{selectedbtn}}</a></p>
            <div ng-repeat="button in rightButton">
                <a ng-click="childSpider(button)" ng-class="button.class">{{button.name}}</a>
                <p class="spider" style="color:red"><a ui-sref="spider">{{selectedbtn}}</a></p>
            </div>

        </div>
        <div class="col-md-4"></div>

    </div>
</div>
